/* Webfont: Corki-Regular */@font-face {
    font-family: 'Corki';
    src: url('Corki-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('Corki-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

