/* Webfont: Geometria-Bold */@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('Geometria-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

