* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

#content {
    height:100%;
}
.post-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postmortem {
    background-image: url(../img/pm-unfold-0.svg);
    height:100%;
    width:500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.2s ease;
}

/* .postmortem:hover {
    animation: postmort 0.1s;
    animation-fill-mode: forwards;
}

@keyframes postmort {
    0% {
        background-image: url(../img/pm-fold.svg);
    }
    50% {
        background-image: url(../img/pm-kf1.svg);
    }
    75% {
        background-image: url(../img/pm-kf2.svg);
    }
    100% {
        background-image: url(../img/pm-unfold.svg);
    }
} */