body {
    background-color: black;
    color: white;
}

#contentwrapper {
    background-color: black;
}

nav ul li a {
    color: white;
}

.highlighted {
    color: black;
    background-color: white;
}

.logo {
    background-image: url(../img/logo-white.svg);
}