body {
    background-color: black;
    color: white;
}

#contentwrapper {
    background-color: rgb(30,30,30);
}

nav ul li a {
    color: white;
}

.highlighted {
    background-color: white;
}

.highlighted a {
    color: black;
}


.logo {
    background-image: url(../img/logo-white.svg);
}