body {
    background-color: black;
    color: white;
}

#contentwrapper {
    background-color: black;
}

nav ul li a {
    color: white;
}

.highlighted {
    color: black;
    background-color: white;
}