* {
    margin: 0;
    padding: 0;
}
body {
    background-color: goldenrod;
    font-family: "Geometria";
}

#contentwrapper {
    background-color: white;
    width: 1000px;
    margin: auto;
    height: 100%;
}
.logo {
    height:80%;
    padding: 5px;
    padding-left: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
header {
    height:50px;
}
nav {
    float: right;
    display: flex;
    align-items: center;
    width: 500px;
    height: 100%;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    width:100%;
}

#content {
    height:calc(100vh - 50px);
}

.wiplines {
    width: 100%;
}
h1 {
    text-align: center;
    padding-top: 20px;
}